<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      About Blases Loaded
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-explore-container name="Tab 3 page"></app-explore-container>
  -->
  <ion-list lines="none" class="ion-text-wrap">
    <ion-item>
      <p>
        Blases Loaded is a little unofficial mobile app for watching <a target="_blank" href="https://www.blaseball.com/">Blaseball</a> games, written by <a target="_blank" href="https://github.com/RangerRick/blobile">Benjamin Reed</a>.
      </p>
    </ion-item>
    <ion-list-header lines="full">
      <h3>Acknowledgements</h3>
    </ion-list-header>
    <ion-item>
      <p>
        Blases Loaded wouldn't be possible without a bunch of folks:
      </p>
    </ion-item>
    <ion-item>
      <ul class="ion-text-wrap" style="padding-left: 1em">
        <li><a target="_blank" href="https://thegameband.com/">The Game Band</a>, for making Blaseball</li>
        <li><a target="_blank" href="https://ionicframework.com/">Ionic</a> and <a target="_blank" href="https://capacitorjs.com/">Capacitor</a>, the mobile tools used to make this app</li>
        <li>
          SVG <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Baseball_diamond_clean.svg">baseball diamond</a> and
          <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Noto_Emoji_Pie_1f95c.svg">peanut</a>
          from Wikimedia
        </li>
        <li>
          API help, testing, and proxy from <a target="_blank" href="https://twitter.com/SIBROfficial">SIBR</a> and especially ch00beh for helping test -- check out their <a target="_blank" href="https://www.twitch.tv/ch00beh">live Hawaii Fridays Twitch broadcasts</a> during the season
        </li>
      </ul>
    </ion-item>
    <ion-list-header lines="full">
      <h3>Resources</h3>
    </ion-list-header>
    <ion-item>
      <ul class="ion-text-wrap" style="padding-left: 1.2em">
        <li><a target="_blank" href="https://discord.gg/KW44dBm">Blases Loaded</a> on the SIBR Discord</li>
        <li>Report issues on <a target="_blank" href="https://github.com/RangerRick/blobile/issues">the Blases Loaded Github</a>.</li>
        <li>
          I am a Seattle Garage and have released music on both the
          <a target="_blank" href="https://thegarages.bandcamp.com/album/percolate-or-lofi-hip-hop-brews-to-siesta-kill-gods-to">Percolate</a>
          and <a target="_blank" href="https://thegarages.bandcamp.com/album/neon-fakes">Neon Fakes</a> albums
          (as Raccoon Fink).
          If you want to support me, please don't, Blases Loaded is just for fun.
          Instead support <a target="_blank" href="https://thegarages.bandcamp.com/">The Garages</a>
          and other <a target="_blank" href="https://fourth-strike.bandcamp.com/">Fourth Strike</a> artists.
        </li>
        <li>
          I am so bad at meaningfully marketing myself I'm linking to the music I write here,
          on this completely unrelated app -- it's all available
          <a target="_blank" href="https://music.raccoonfink.com/">free on Bandcamp</a>.
        </li>
      </ul>
    </ion-item>
    <ion-list-header lines="full">
      Build Info
    </ion-list-header>
    <ion-item>
      Version {{VERSION.version}}, build {{VERSION.build}} ({{VERSION.hash}})
    </ion-item>
  </ion-list>
</ion-content>
