<ion-header translucent="true">
  <ion-toolbar color="primary" (click)="scrollToTop()">
    <ion-title>Blases Loaded</ion-title>
    <ion-buttons slot="secondary">
      <ion-button *ngIf="loading || stale">
        <ion-spinner></ion-spinner>
      </ion-button>
      <!--
      <ion-button *ngIf="errors &gt; 0 && !isPostseasonComplete()">
        <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
      </ion-button>
      -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar *ngIf="ready && !showCountdown()">
    <ion-buttons slot="primary">
      <!-- this is just to fix spacing for now, I'll figure out something better eventually -->
      <ion-button>
        <ion-icon></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="segment">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="active">
        <ion-label>Active ({{getActiveGameCount()}})</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label>Favorites</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="secondary">
      <ion-button (click)="toggleSearchbar()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-refresher slot="fixed" (ionRefresh)="forceRefresh($event)">
    <ion-refresher-content
      pullingIcon="baseball-outline"
    ><ion-spinner name="default"></ion-spinner>
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar *ngIf="filterVisible" debounce="200" value="{{searchTerm}}" showCancelButton="focus" (ionInput)="filterList($event)"></ion-searchbar>
  <span *ngIf="ready">
    <span *ngIf="showCountdown()">
      <span *ngIf="isPostseasonComplete()">
        <ion-item lines="none">
          <h4>Season {{streamData.seasonNumber}} is over.</h4>
        </ion-item>
        <ion-item lines="none" *ngIf="getWinner() && getWinner().fullName">
          <h4>The <span [style]="'color: ' + getWinner().mainColor">{{getWinner().fullName}}</span> are the Champions!</h4>
        </ion-item>
        <ion-item lines="none" *ngIf="countdown && countdown.diff >= 0">
          <h4>Next Season Starts In:<br>{{getCountdown()}}.</h4>
        </ion-item>
        <ion-item lines="none" *ngIf="countdown && countdown.diff &lt; 0">
          <h4>Next season starts in... uhh.  <i>*tugs collar*</i> I mean. What <i>is</i> time, really?</h4>
        </ion-item>
      </span>
      <span *ngIf="!isPostseasonComplete() && isPostseason()">
        <ion-item lines="none">
          <h4>Regular season is over.</h4>
        </ion-item>
        <ion-item lines="none" *ngIf="countdown && countdown.diff >= 0">
          <h4>Postseason Starts In:<br>{{getCountdown()}}.</h4>
        </ion-item>
      </span>
      <div id="marquee" data-speed="1">
        <div class="marquee">
          <div class="marquee-item" *ngFor="let event of globalEvents">
            {{event.msg}}...
            &nbsp;
            &nbsp;
            &nbsp;
          </div>
        </div>
      </div>
    </span>
    <span *ngIf="!showCountdown()">
      <ion-item lines="none" *ngIf="streamData.games.isPostseason()">
        <h4 *ngIf="streamData && streamData.games" class="ion-no-margin">Postseason Round {{streamData.games.postseason.round.roundNumber}}, Day {{getPlayoffDay()}}</h4>
      </ion-item>
      <ion-item lines="none" *ngIf="!streamData.games.isPostseason()">
        <h4 *ngIf="streamData && streamData.games" class="ion-no-margin">Season {{streamData.games.season.seasonNumber}}, Day {{streamData.games.sim.day}}</h4>
      </ion-item>
      <ion-item lines="none" *ngIf="segment === 'active' && (!games || games.length === 0)">
        <span *ngIf="streamData.games.isPostseason()">
          No active games for postseason day {{getPlayoffDay()}}.
        </span>
        <span *ngIf="!streamData.games.isPostseason()">
          No active games for day {{streamData.games.sim.day}}.
        </span>
      </ion-item>
      <ion-grid>
        <ion-row>
          <!-- size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6" -->
          <ion-col size="12" *ngFor="let game of games; trackBy: gameId">
            <app-diamond [game]="game" prefix="live-diamond" (refresh)="refreshUI()"></app-diamond>
          </ion-col>
        </ion-row>
      </ion-grid>
    </span>
  </span>
</ion-content>
