<ion-header translucent="true">
  <ion-toolbar color="primary" (click)="scrollToTop()">
    <ion-title>Blases Loaded</ion-title>
    <ion-buttons slot="secondary">
      <ion-button *ngIf="loading || stale">
        <ion-spinner></ion-spinner>
      </ion-button>
      <!--
      <ion-button *ngIf="errors &gt; 0 && !isPostseasonComplete()">
        <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
      </ion-button>
      -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar *ngIf="ready && !uiState.notice">
    <ion-buttons slot="primary">
      <!-- this is just to fix spacing for now, I'll figure out something better eventually -->
      <ion-button>
        <ion-icon></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="segment">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="active">
        <ion-label>Active ({{getActiveGameCount()}})</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label>Favorites</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="secondary">
      <ion-button (click)="toggleSearchbar()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-refresher slot="fixed" (ionRefresh)="forceRefresh($event)">
    <ion-refresher-content
      pullingIcon="baseball-outline"
    ><ion-spinner name="default"></ion-spinner>
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar *ngIf="filterVisible" debounce="200" value="{{searchTerm}}" showCancelButton="focus" (ionInput)="filterList($event)"></ion-searchbar>
  <span *ngIf="ready">
    <span *ngIf="uiState.notice">
      <ion-item lines="none">
        <h4>{{uiState.notice}}</h4>
      </ion-item>
      <ion-item lines="none" *ngIf="uiState.winner">
        <h4>
          The
          <!-- <span [style]="'color: ' + uiState.winner.mainColor">{{uiState.winner.fullName}}</span> -->
          <app-team team="home" [teamColor]="uiState.winner.mainColor" [emoji]="uiState.winner.emoji" [name]="uiState.winner.fullName"></app-team>
          are the Champions!
        </h4>
      </ion-item>
      <ion-item lines="none" *ngIf="uiState.countdownNotice && countdown && countdown.diff >= 0">
        <h4>
          {{uiState.countdownNotice}}
          <br>
          {{getCountdown()}}
        </h4>
      </ion-item>
      <ion-item lines="none" *ngIf="uiState.countdownNotice && countdown && countdown.diff &lt; 0">
        <h4>Next season starts in... uhh.  <i>*tugs collar*</i> I mean. What <i>is</i> time, really?</h4>
      </ion-item>
      <div id="marquee" data-speed="1">
        <div class="marquee">
          <div class="marquee-item" *ngFor="let event of globalEvents">
            {{event.msg}}...
            &nbsp;
            &nbsp;
            &nbsp;
          </div>
        </div>
      </div>
    </span>
    <span *ngIf="!uiState.notice">
      <span *ngIf="phase === PHASES.BOSS_FIGHT">
        <ion-grid style="margin-top: 0; padding-top: 0">
          <ion-row>
            <!-- size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6" -->
            <ion-col size="12" *ngFor="let game of streamData.fights.bossFights; trackBy: gameId">
              <app-diamond [game]="game" prefix="live-diamond" (refresh)="refreshUI()"></app-diamond>
            </ion-col>
          </ion-row>
        </ion-grid>
      </span>
      <span *ngIf="phase !== PHASES.BOSS_FIGHT">
        <ion-item lines="none" *ngIf="uiState.seasonHeader">
          <h4 *ngIf="streamData && streamData.games" class="ion-no-margin">{{uiState.seasonHeader}}</h4>
        </ion-item>
        <ion-item lines="none" *ngIf="segment === 'active' && (!games || games.length === 0)">
          No active games for day {{streamData.games.sim.day}}.
        </ion-item>
        <ion-grid style="margin-top: 0; padding-top: 0">
          <ion-row>
            <!-- size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6" -->
            <ion-col size="12" *ngFor="let game of games; trackBy: gameId">
              <app-diamond [game]="game" prefix="live-diamond" (refresh)="refreshUI()"></app-diamond>
            </ion-col>
          </ion-row>
        </ion-grid>
      </span>
    </span>
  </span>
</ion-content>
