<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-no-padding">
      <span style="padding-left: 0.5em; padding-right: 0.5em">Blobile <span *ngIf="data && data.games">Season {{data.games.season.seasonNumber + 1}}, Day {{data.games.sim.day + 1}}</span></span>
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button *ngIf="loading">
        <ion-spinner></ion-spinner>
      </ion-button>
      <ion-button *ngIf="errors &gt; 0">
        <ion-icon name="bug-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar debounce="200" value="{{searchTerm}}" showCancelButton="focus" (ionInput)="filterList($event)"></ion-searchbar>
  <!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Blobile</ion-title>
    </ion-toolbar>
  </ion-header>
  -->
  <ion-segment (ionChange)="segmentChanged($event)" [value]="segment">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="active">
      <ion-label>Active</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorites">
      <ion-label>Favorites</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-content *ngIf="errors &gt; 0" color="danger">
    <ion-grid class="danger">
      <ion-row>
        <ion-col class="big">
          API Error{{'!'.repeat(errors)}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Last successful update: {{lastUpdate}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <app-diamond *ngFor="let game of games; trackBy: gameId" [game]="game"></app-diamond>
</ion-content>
