<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blobile
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button *ngIf="loading">
        <ion-spinner></ion-spinner>
      </ion-button>
      <ion-button *ngIf="error">
        <ion-icon name="bug-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar debounce="200" value="{{searchTerm}}" showCancelButton="focus" (ionInput)="filterList($event)"></ion-searchbar>
  <!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Blobile</ion-title>
    </ion-toolbar>
  </ion-header>
  -->
  <ion-segment (ionChange)="segmentChanged($event)" [value]="segment">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="active">
      <ion-label>Active</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorites">
      <ion-label>Favorites</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-diamond *ngFor="let game of games" [game]="game"></app-diamond>
</ion-content>
