<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blobile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar debounce="200" value="{{searchTerm}}" showCancelButton="focus" (ionInput)="filterList($event)"></ion-searchbar>
  <!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Blobile</ion-title>
    </ion-toolbar>
  </ion-header>
  -->

  <app-diamond *ngFor="let game of games" [game]="game"></app-diamond>
</ion-content>
