<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      About Blases Loaded
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-explore-container name="Tab 3 page"></app-explore-container>
  -->
  <ion-list lines="none" class="ion-text-wrap">
    <ion-item>
      <p>
        Blases Loaded is a little mobile app for watching Blaseball games, written by <a href="https://github.com/RangerRick/blobile">Benjamin Reed</a>.
      </p>
    </ion-item>
    <ion-list-header lines="full">
      <h3>Acknowledgements</h3>
    </ion-list-header>
    <ion-item>
      <p>
        Blases Loaded wouldn't be possible without a bunch of folks:
      </p>
    </ion-item>
    <ion-item>
      <ul class="ion-text-wrap" style="padding-left: 1em">
        <li><a href="https://thegameband.com/">The Game Band</a>, of course, for creating <a href="https://www.blaseball.com/">Blaseball</a></li>
        <li><a href="https://ionicframework.com/">Ionic</a> and <a href="https://capacitorjs.com/">Capacitor</a></li>
        <li>
          <a href="https://commons.wikimedia.org/wiki/File:Baseball_diamond_clean.svg">SVG baseball diamond</a> from Wikimedia<br/>
          by <a href="https://en.wikipedia.org/wiki/User:Cburnett">Colin M.L. Burnett</a>
        </li>
        <li>
          API help, testing, and proxy from <a href="https://twitter.com/SIBROfficial">SIBR</a>
        </li>
      </ul>
    </ion-item>
  </ion-list>
</ion-content>
