<ion-grid class="scorebox">
  <ion-row class="ion-align-items-end ion-text-end">
    <ion-col *ngIf="game.gameComplete" class="ion-text-end">
      <div>
        <span class="scorebox-label">FINAL</span>
        <span *ngIf="game.inning > 8">({{game.inning}})</span>
      </div>
    </ion-col>
    <ion-col *ngIf="!game.gameComplete" class="ion-text-end">
      <div>
        <span class="scorebox-label">INNING</span>
        <div class="scorebox-inning">
          <div class="inning-marker" [innerHTML]="game.topOfInning ? '&#9650;' : '&#9660;'"></div>
          {{game.inning}}
        </div>
      </div>
    </ion-col>
    <ion-col class="ion-text-end">
      <div>
        <span class="scorebox-label">OUT</span>
        <div class="scorebox-box">{{game.halfInningOuts}}</div>
      </div>
    </ion-col>
    <ion-col class="ion-text-end">
      <div (click)="openTeam(game.awayTeam, $event)">
        <span>
          <span class="atbat" *ngIf="!game.topOfInning">⚾</span>
          <span class="atbat" *ngIf="game.topOfInning"><ion-icon src="assets/Baseball_bat.svg"></ion-icon></span>
          <span *ngIf="teams[game.awayTeam]">{{teams[game.awayTeam].shorthand}}</span>
          <span class="atbat-label" *ngIf="!teams[game.awayTeam]">AWAY</span>
        </span>
        <div class="scorebox-box">{{game.awayScore}}</div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-end ion-text-end">
    <ion-col class="ion-text-end">
      <div>
        <span class="scorebox-label">BALL</span>
        <div class="scorebox-box">{{game.atBatBalls}}</div>
      </div>
    </ion-col>
    <ion-col class="ion-text-end">
      <div>
        <span class="scorebox-label">STRIKE</span>
        <div class="scorebox-box">{{game.atBatStrikes}}</div>
      </div>
    </ion-col>
    <ion-col class="ion-text-end">
      <div (click)="openTeam(game.homeTeam, $event)">
        <span>
          <span class="atbat" *ngIf="game.topOfInning">⚾</span>
          <span class="atbat" *ngIf="!game.topOfInning"><ion-icon src="assets/Baseball_bat.svg"></ion-icon></span>
          <span *ngIf="teams[game.homeTeam]">{{teams[game.homeTeam].shorthand}}</span>
          <span class="atbat-label" *ngIf="!teams[game.homeTeam]">HOME</span>
        </span>
        <div class="scorebox-box">
          {{game.homeScore}}
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!hideLog">
    <ion-col size="12">
      <div  class="scorebox-border">
        <div class="rotate-display lastUpdate">{{game.lastUpdate}}</div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>