@import '../../global';

.green-card {
  --color: white;
  --background: #00a831;
}

.strokeme {
  text, tspan {
    paint-order: stroke;
  }
}

.team-header {
  color: white;
  font-size: 0.85em;
  font-weight: bold;
  text-align: center;
  padding-top: 0.75em;
  padding-bottom: 0;
  white-space: nowrap;
}

ion-grid {
  padding-top: 0;
}

ion-fab {
  bottom: 4px;
  right: 0;
}

$drop-shadow: 0 0 0.25em black, 0 0 0.1em black, 0 0 0.1em black;

.boss-fight {
  ion-label {
    font-weight: bold;
    text-shadow: $drop-shadow;
  }

  ion-progress-bar {
    --progress-background: white;
    --background: black;
    height: 2em;
    border: 3px solid yellow;
    /* border-radius: 0.5em; */
  }

  .score-container {
    position: relative;
    text-align: center;

    .score {
      color: black;
      width: 100%;
      position: absolute;
      padding: 0.2em;
      font-weight: bold;
      top: 0;
      left: 0;
      text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }
  }

}

.game-over {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  padding: 0.25em;
  text-shadow: 0 0 0.1em black, 0 0 0.1em black;
}

.game-summary {
  text-shadow: $drop-shadow;
  text-align: center;
  p {
    padding: 0.25em;
    font-size: 140%;
    font-weight: bold;
  }
}

.series-record {
  font-weight: bold;
  text-shadow: $drop-shadow;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

