<ion-card class="green-card ion-no-padding">
  <!--
  <ion-card-header class="green-card">
    <ion-card-title class="green-card">{{game.homeTeamName}} vs. {{game.awayTeamName}}</ion-card-title>
  </ion-card-header>
  -->
  <ion-card-header color="transparent" class="ion-no-padding">
    <ion-toolbar color="transparent">
      <ion-buttons slot="start">
        <ion-button fill="clear" shape="round" size="large" (click)="toggleFavorite(game.awayTeam)">
          <ion-icon *ngIf="!isFavorite(game.awayTeam)" name="star-outline"></ion-icon>
          <ion-icon *ngIf="isFavorite(game.awayTeam)" name="star"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-no-padding">
        <div class="team-header">
          <div class="team-lozenge">
            <span class="team-emoji" style="background-color: {{game.awayTeamColor}}" [innerHTML]="getEmoji('away')"></span>
            {{game.awayTeamNickname}}
          </div>
          at
          <div class="team-lozenge">
            {{game.homeTeamNickname}}
            <span class="team-emoji" style="background-color: {{game.homeTeamColor}}" [innerHTML]="getEmoji('home')"></span>
          </div>
        </div>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" shape="round" size="large" (click)="toggleFavorite(game.homeTeam)">
          <ion-icon *ngIf="!isFavorite(game.homeTeam)" name="star-outline"></ion-icon>
          <ion-icon *ngIf="isFavorite(game.homeTeam)" name="star"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-header>
  <ion-card-content class="ion-no-padding">
    <!-- viewbox="0 0 650 500" -->
    <svg *ngIf="inProgress()" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" id="diamond" version="1.0" preserveAspectRatio="xMinYMin meet" viewBox="0 120 650 390">
      <g id="main">
        <path id="background" style="fill:#00a831;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M 150,520 L 0,520 L 0,0 L 650,0 L 650,520 L 508,520 L 150,520 z " sodipodi:nodetypes="ccccccc"/>
        <path id="dirt" sodipodi:type="arc" style="opacity:1;fill:#a48e28;fill-opacity:1;stroke:#85881b;stroke-width:1.04379344;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" sodipodi:cx="300" sodipodi:cy="752.36218" sodipodi:rx="95" sodipodi:ry="95" d="M 205,752.36218 A 95,95 0 0 1 395,752.36218" sodipodi:start="3.1415927" sodipodi:end="6.2831853" sodipodi:open="true" transform="matrix(1.989102,0,0,1.978205,-268.2308,-1169.879)"/>
        <path id="dirt-corner-right" style="fill:#00a831;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M 328.5,439.48263 L 538.5,229.48266 L 538.5,439.48263 L 328.5,439.48263 z "/>
        <path id="dirt-corner-left" style="fill:#00a831;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M 328.5,439.48263 L 124.5,235.48266 L 123.5,439.48263 L 328.5,439.48263 z "/>
        <rect id="diamond-grass" style="opacity:1;fill:#00a837;fill-opacity:1;stroke:#85881b;stroke-width:4.99999857;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" width="168.31494" height="168.31494" x="-77.781464" y="374.03622" transform="matrix(0.707107,-0.707107,0.707107,0.707107,0,0)"/>
        <path id="dirt-home" sodipodi:type="arc" style="opacity:1;fill:#85881b;fill-opacity:1;stroke:none;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" sodipodi:cx="328" sodipodi:cy="430" sodipodi:rx="43" sodipodi:ry="43" d="M 371 430 A 43 43 0 1 1  285,430 A 43 43 0 1 1  371 430 z"/>
        <path id="pitchers-mound" sodipodi:type="arc" style="opacity:1;fill:#b56700;fill-opacity:1;stroke:#85881b;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" sodipodi:cx="300" sodipodi:cy="752.36218" sodipodi:rx="18" sodipodi:ry="18" d="M 318 752.36218 A 18 18 0 1 1  282,752.36218 A 18 18 0 1 1  318 752.36218 z" transform="translate(28.5,-432.8794)"/>
        <rect id="pitchers-plate" style="opacity:1;fill:white;fill-opacity:1;stroke:none;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" width="14" height="4" x="321.5" y="317.4827"/>
        <path id="foul-line-right" style="fill:none;fill-opacity:0.75;fill-rule:evenodd;stroke:white;stroke-width:3.01047993;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M 363.00993,405 C 650.37706,117.62236 650.37706,117.62236 650.37706,117.62236"/>
        <path id="foul-line-left" style="fill:none;fill-opacity:0.75;fill-rule:evenodd;stroke:white;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M 293.77042,404.99993 C -2.1085256,109.12113 -2.1085256,109.12113 -2.1085256,109.12113"/>
        <rect id="base-1" style="opacity:1;fill:white;fill-opacity:1;stroke:none;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" width="10.242652" height="10.242652" x="531.56042" y="-95.300102" transform="matrix(0.707107,0.707107,-0.707107,0.707107,0,0)"/>
        <rect id="base-2" style="opacity:1;fill:white;fill-opacity:1;stroke:none;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" width="10.242655" height="10.242655" x="369.26904" y="-95.643242" transform="matrix(0.707107,0.707107,-0.707107,0.707107,0,0)"/>
        <rect id="base-3" style="opacity:1;fill:white;fill-opacity:1;stroke:none;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" width="10.242649" height="10.242649" x="369.26904" y="66.99128" transform="matrix(0.707107,0.707107,-0.707107,0.707107,0,0)"/>
        <path id="base-home" style="fill:white;fill-opacity:1;stroke:none;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1" d="M 320,423 L 335,423 L 335,430.7492 L 327.72761,438 L 320,429.78055 L 320,423 z " sodipodi:nodetypes="cccccc"/>
        <rect id="batters-box-right" style="opacity:1;fill:#85881b;fill-opacity:1;stroke:white;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" width="15" height="35" x="340" y="410"/>
        <rect id="batters-box-left" style="opacity:1;fill:#85881b;fill-opacity:1;stroke:white;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" width="15" height="35" x="300" y="410"/>
        <path id="border-home" style="opacity:1;fill:white;fill-opacity:1;stroke:none;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M 295,405 C 295.15103,402.74278 293.1875,403.97917 292.28125,403.46875 C 280.62645,419.16193 280.35712,439.683 291.625,455.65625 C 305.77503,475.71519 333.59731,480.52502 353.65625,466.375 C 373.71519,452.22497 378.52502,424.40269 364.375,404.34375 L 361,405 C 362.65625,407.375 361,405 362.65625,407.375 L 293.875,406.53125 L 295,405 z M 293.875,406.53125 L 362.65625,407.375 C 374.80016,425.99135 370.24983,450.98832 351.9375,463.90625 C 333.20494,477.12061 307.30812,472.67006 294.09375,453.9375 C 283.82751,439.38417 283.83997,421.05606 293.875,406.53125 z " sodipodi:nodetypes="ccsscccccccssc"/>
        <text id="player-1"          [attr.x]="coordinates.first[0]"  [attr.y]="coordinates.first[1]"  text-anchor="start"  font-family="sans-serif" font-weight="bold" [attr.font-size]="playerFontSize" fill="white">{{getName(getBaseRunner(0))}}</text>
        <text id="player-2"          [attr.x]="coordinates.second[0]" [attr.y]="coordinates.second[1]" text-anchor="middle" font-family="sans-serif" font-weight="bold" [attr.font-size]="playerFontSize" fill="white">{{getName(getBaseRunner(1))}}</text>
        <text id="player-3"          [attr.x]="coordinates.third[0]"  [attr.y]="coordinates.third[1]"  text-anchor="end"    font-family="sans-serif" font-weight="bold" [attr.font-size]="playerFontSize" fill="white">{{getName(getBaseRunner(2))}}</text>
        <!-- <text id="player-home-left"  x="280" y="432" text-anchor="end"    font-family="sans-serif" font-weight="bold" [attr.font-size]="playerFontSize" fill="white">{{positions.home && positions.home.name}}</text> -->
        <!-- <text id="player-home-right" x="375" y="432" text-anchor="start"  font-family="sans-serif" font-weight="bold" [attr.font-size]="playerFontSize" fill="white">{{positions.home && positions.home.name}}</text> -->
        <text id="player-home"       x="328" y="500" text-anchor="middle" font-family="sans-serif" font-weight="bold" [attr.font-size]="playerFontSize" fill="white">{{getName(getBatter())}}</text>
        <text id="pitcher"           x="328" y="296" text-anchor="middle" font-family="sans-serif" font-weight="bold" [attr.font-size]="playerFontSize" fill="white">{{getName(getPitcher())}}</text>
      </g>
    </svg>
    <ion-grid class="scorebox">
      <ion-row class="ion-align-items-end ion-text-end">
        <ion-col>
          <div>BALL&nbsp;<div class="scorebox-box">{{game.atBatBalls}}</div></div>
        </ion-col>
        <ion-col>
          <div>STRIKE&nbsp;<div class="scorebox-box">{{game.atBatStrikes}}</div></div>
        </ion-col>
        <ion-col>
          <div>OUT&nbsp;<div class="scorebox-box">{{game.halfInningOuts}}</div></div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-end ion-text-end">
        <ion-col>
          <div>AWAY&nbsp;<div class="scorebox-box">{{game.awayScore}}</div></div>
        </ion-col>
        <ion-col *ngIf="game.gameComplete" class="ion-text-end">
          <div>FINAL <span *ngIf="game.inning > 8">({{game.inning + 1}})</span></div>
        </ion-col>
        <ion-col *ngIf="!game.gameComplete" class="ion-text-end">
          <div>INNING&nbsp;<div class="scorebox-box"><span class="inning-marker" [innerHTML]="game.topOfInning ? '&#9650;' : '&#9660;'"></span> {{game.inning + 1}}</div></div>
        </ion-col>
        <ion-col>
          <div>HOME&nbsp;<div class="scorebox-box">{{game.homeScore}}</div></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div  class="scorebox-border">
            <div class="rotate-display" id="lastUpdate">{{game.lastUpdate}}</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<!--
<ion-content class="diamond-green ion-no-padding">
</ion-content>
-->