.team-row {
  font-weight: bold;
}

.team-wins {
  text-align: end;
  font-family: monospace;
  font-size: 1.0rem;
}

.team-record {
  text-align: end;
  font-family: monospace;
  font-size: 1.0rem;
}

.division-header {
  padding-bottom: 0.5rem;
  ion-card-subtitle {
    color: black;
    font-size: larger;
  }
}

.header {
  font-size: smaller;
  font-family: inherit !important;
  color: black;
}