<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Standings
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button *ngIf="loading">
        <ion-spinner></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-margin">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let subleague of data.subleagues; trackBy: id">
        <ion-header class="ion-no-border ion-text-center">
          <h4>{{subleague.name}}</h4>
        </ion-header>
        <ion-card class="ion-no-padding ion-no-margin ion-margin-vertical" *ngFor="let division of subleague.divisions; trackBy: id">
          <ion-card-header>
            <ion-card-subtitle>{{division.name}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-item
              lines="none"
              [style]="'font-weight: bold; --background: ' + team.mainColor + '; --color: ' + team.mainTextColor"
              *ngFor="let team of division.teams; trackBy: id"
              (click)="openTeam(team.id)"
            >
              <ion-label>{{team.name}}</ion-label>
              <ion-note slot="end" [style]="'font-weight: bold; --color: ' + team.mainTextColor">
                <span *ngIf="team.playoffs">🏆</span>
                {{team.wins}}-{{team.losses}}
              </ion-note>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
