/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/dark";

:root {
  --ion-color-primary: #00a831;
  --ion-color-primary-rgb: 0,168,49;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #00942b;
  --ion-color-primary-tint: #1ab146;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-primary: #00a831;
    --ion-color-primary-rgb: 0,168,49;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #00942b;
    --ion-color-primary-tint: #1ab146;
  }
}

@font-face {
  font-family: "scoreboard";
  src: url(assets/fonts/scoreboard.ttf);
}

@font-face {
  font-family: "Arial Narrow";
  src: url(assets/fonts/arial-narrow.ttf);
}
@font-face {
  font-family: "Arial Narrow Bold";
  src: url(assets/fonts/arial-narrow-bold.ttf);
}
@font-face {
  font-family: "Arial Narrow Italic";
  src: url(assets/fonts/arial-narrow-italic.ttf);
}
@font-face {
  font-family: "Arial Narrow Bold Italic";
  src: url(assets/fonts/arial-narrow-bold-italic.ttf);
}

@font-face {
  font-family: "Impact";
  src: url(assets/fonts/impact.ttf);
}

@mixin bl-text-outline($outline-size: 1px, $outline-color: black, $outline-alpha: 0.7) {
  $color: rgba($outline-color, $outline-alpha);
  $size: $outline-size;
  text-shadow: $size 0 0 $color, 0 $size 0 $color, -$size 0 0 $color, 0 -$size 0 $color;
}

@mixin text-outline-dark($size: 1px) {
  @include bl-text-outline($size, black, 0.7);
}

@mixin text-outline-light($size: 1px) {
  @include bl-text-outline($size, white, 0.5);
}

@keyframes blinking-message {
  0% {
    visibility: visible;
  }
  60% {
    visibility: visible;
  }
  61% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

.bl-blink {
  animation: blinking-message 1s infinite;
}

.bl-message-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: table;

  .bl-message-text {
    width: 100%;
    height: 100%;
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.shake {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.1em, 0, 0);
  }

  20%, 80% {
    transform: translate3d(0.1em, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-0.2em, 0, 0);
  }

  40%, 60% {
    transform: translate3d(0.2em, 0, 0);
  }
}

@keyframes shine {
  0% {
    /* color: rgba(104,107,24,100); */ /* #686b18 */
    text-shadow: none;
  }
  100% {
    /* color: rgba(254,255,229,100); */ /* #feffe5 */
    text-shadow: 0 0 0.6rem rgba(254,255,229,0.2), 0 0 1.5rem rgba(250,255,102,0.2), /* #faff66 */
      -0.2rem 0.1rem 1rem rgba(250,255,102,0.2), 0.2rem 0.1rem 1rem rgba(250,255,102,0.2),
      0 -0.5rem 2rem rgba(248,255,36,0.2), 0 0.5rem 3rem rgba(248,255,36,0.2); /* #f8ff24 */
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  38% {
    opacity: 0.5;
  }

  6% {
    opacity: 0.85;
  }

  4%, 10%, 12%, 17%, 56%, 58%, 70% {
    opacity: 0.9;
  }

  37% {
    opacity: 0.93;
  }

  26% {
    opacity: 0.94;
  }

  8%, 14% {
    opacity: 0.95;
  }

  11% {
    opacity: 0.922;
  }

  19%, 93%, 97% {
    opacity: 0.93;
  }

  46% {
    opacity: 0.94;
  }

  72%, 95% {
    opacity: 0.95;
  }

  39% {
    opacity: 0.96;
  }

  44% {
    opacity: 0.97;
  }

  16%, 28% {
    opacity: 0.98;
  }

  20%, 60% {
    opacity: 0.99;
  }

  24%, 42%, 68% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

.flicker {
  animation: shine 2s forwards, flicker 3s infinite;
}

.reduce-motion {
  animation: none !important;

  .bl-blink {
    animation: none !important;
  }

  .shake {
    animation: none !important;
    transform: none !important;
  }

  .bl-message-container {
    justify-content: right;
    align-items: flex-end;

    .bl-message-text {
      width: auto;
      height: auto;
      font-size: 5vw;
      bottom: 10vw;
      right: 2.5vw;
    }
  }

  .flicker {
    animation: none !important;
  }
}
