.log-entry {
  ion-item {
    --min-height: 16px;

    padding: 0.5em;
    vertical-align: top;

    .time {
      padding-top: 0.15em;
      font-family: monospace;
      margin-right: 1em;
    }
  }
}
