<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Slettings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" class="ion-text-wrap">
    <span *ngIf="platform !== 'web'">
      <!-- native-only stuff -->
      <ion-list-header lines="full">
        <h3>Automatic Updates</h3>
      </ion-list-header>
      <ion-item *ngIf="updateService.updateAvailable" color="danger">
        <ion-label>You have an update available.</ion-label>
        <ion-button slot="end" color="light" (click)="updateService.reload()">Reload</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Receive beta updates?</ion-label>
        <ion-toggle (ionChange)="setBeta()" [(ngModel)]="betaEnabled" slot="end"></ion-toggle>
      </ion-item>
      <ion-list-header lines="full">
        <h3>Disable Sleep</h3>
      </ion-list-header>
      <ion-item>
        <ion-label>Disable sleep while games are active?</ion-label>
        <ion-toggle (ionChange)="setDisableSleep()" [(ngModel)]="disableSleep" slot="end"></ion-toggle>
      </ion-item>
    </span>
    <ion-list-header lines="full">
      <h3>Teams</h3>
    </ion-list-header>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h4>Choose Your Team:</h4>
        <ion-note>Your team is first in the live feed.</ion-note>
      </ion-label>
      <ion-select (ionChange)="setFavoriteTeam($event.detail)" interface="action-sheet" [interfaceOptions]="teamOptions" okText="Choose" cancelText="Cancel" [(ngModel)]="favoriteTeam">
        <ion-select-option *ngFor="let team of teams" [value]="team.id">{{team.fullName}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
